{% extends 'webmanager/main.html' %} {% block content %} {% load static%}

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h1 class="top-text">
          <strong
            >Together <br />
            We plant a<br />
            smile</strong
          >
        </h1>
        <p class="">
          As a non profit charity organization 'Abodan' provides aid for the
          deprived people in society.we want to be by the side of unprivileged
          community.where a huge number of peole are starving and struggling for
          food.we have worked hard to provide support to creat fund like jakat
          ,fitrah,orphan,street children,disable people,old age people,non
          profitable lone e.t.c.so,basically our goal is to furnish support in
          places where its most needed!
        </p>
        <div class="">
          <a
            href="https://www.youtube.com/watch?v=p29dKpHnPjQ"
            class="single-charity"
          >
            <img src="{% static '/img/video-icon.png' %}" alt="" />
          </a>
          <span>
            <a
              href="https://www.youtube.com/watch?v=p29dKpHnPjQ"
              class="single-charity"
            >
              Watch our intro video
            </a>
          </span>
        </div>
      </div>
      <div class="col-lg-7">
        <img class="img-fluid" src="{%static '/img/assets/box.jpg' %}" alt="" />
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container section-gap">
    <div class="text-center">
      <h1>Our Major Appeals</h1>
      <p class="title-gap">
        The French Revolution constituted for the conscience of the dominant
        aristocratic class a fall from innocence the natural chain of events.
      </p>
    </div>
    <div class="row text-center title-gap">
      <div class="col-lg-4">
        <div class="card" style="">
          <div class="card-body">
            <img
              src="{% static '/img/assets/khulna2.jpg' %}"
              class="card-img-top img-fluid"
              alt="..."
            />
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="{%url 'appeals' %}" class="btn btn-primary">View Detail</a
            ><a href="{%url 'donation' %}" class="btn btn-primary button-margin">Donate Here</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card" style="">
          <div class="card-body">
            <img
              src="{% static '/img/assets/khulna3.jpg' %}"
              class="card-img-top img-fluid"
              alt="..."
            />
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="{%url 'appeals' %}" class="btn btn-primary">View Detail</a
            ><a href="{%url 'donation' %}" class="btn btn-primary button-margin">Donate Here</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card" style="">
          <div class="card-body">
            <img
              src="{% static '/img/assets/khulna1.jpg' %}"
              class="card-img-top img-fluid"
              alt="..."
            />
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="{%url 'appeals' %}" class="btn btn-primary">View Detail</a
            ><a href="{%url 'donation' %}" class="btn btn-primary button-margin">Donate Here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section></section>
<section>
  <div class="container section-gap">
    <div class="row">
      <div class="col-lg-7">
        <img class="img-fluid" src="{%static '/img/assets/box.jpg' %}" alt="" />
      </div>
      <div class="col-lg-5">
        <h1>
          New Way <br />
          To Give Back
        </h1>
        <p class="">
          As a non profit charity organization 'Abodan' provides aid for the
          deprived people in society.we want to be by the side of unprivileged
          community.where a huge number of peole are starving and struggling for
          food.we have worked hard to provide support to creat fund like jakat
          ,fitrah,orphan,street children,disable people,old age people,non
          profitable lone e.t.c.so,basically our goal is to furnish support in
          places where its most needed!
        </p>
      </div>
    </div>
  </div>
</section>
<section class="association"></section>

<section class="car">
  <div class="container text-center section-gap">
    <div>
      <h1>We are connected</h1>
    </div>
    <div class="row title-gap">
      <div class="col-lg-3">
        <div>
          <img
            class="img-fluid"
            src="{%static '/img/assets/download1.png' %}"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-3">
        <div>
          <img
            class="img-fluid"
            src="{%static '/img/assets/download.png' %}"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-3">
        <div>
          <img
            class="img-fluid"
            src="{%static '/img/assets/download1.png' %}"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-3">
        <div>
          <img
            class="img-fluid"
            src="{%static '/img/assets/download.png' %}"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
